@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,600i,700,700i&display=swap');
*{
    padding: 0;
    margin: 0;
}
body,html{
    font-family: 'Muli', sans-serif;
}
.md-app-content{
    padding: 0 !important;
}
/* loading  */
